<div class="container">
  <div>
    <a class="badge" href="#" (click)="$event.preventDefault(); select(badge);" [ngClass]="{ 'mr-3': !last, 'badge-primary': badge.selected, 'badge-light': !badge.selected }"
      *ngFor="let badge of badges; last as last">
      {{badge.name}}
    </a>
  </div>

  <div>
    <button pButton type="button" label="Badges" icon="pi pi-sort" iconPos="right" class="ui-button-secondary" (click)="display = true"></button>
  </div>
  
  <p-sidebar [(visible)]="display" position="bottom" appendTo="body" styleClass="ui-sidebar-lg">
    <div>
      <div>Badges</div>
      <button pButton type="button" 
        [label]="badge.name" 
        class="ui-button-rounded mb-2" 
        [ngClass]="{ 'mr-2': !last, 'ui-button-primary': badge.selected, 'ui-button-secondary': !badge.selected }" 
        (click)="$event.preventDefault(); select(badge);"
        *ngFor="let badge of badges; last as last"></button>
    </div>
  </p-sidebar>
</div>